* {
  padding: auto;
  margin: auto;
}

body {

  background-color: rgb(41, 41, 41);

}
h1 {
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
  text-shadow: black 2px 2px ;

  font-size: 50px;

  text-align: center;
}
h2 {

  color: rgb(255, 255, 255);

  font-family:  'Open Sans', sans-serif;
  font-weight: 200;
  text-shadow: black 2px 2px;

}

p {

  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-shadow: black 1px 1px;

  text-align: justify;

}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}


.main-div {
  width: 90vw;
  height: 100vh;

  box-shadow: 0 30px 40px rgba(0,0,0,.5);
  
  background-color: rgb(51, 51, 51);  
}

.top-div {

  padding: 5px;
  height: 150px;
  width: 98%;

}

.box-fight {

  width: 150px;
  height: 150px;

  background-color: violet;

  filter: grayscale(100%);

  contain: content;
}

.box-fight:hover {

  filter: grayscale(0%);
  transition: .8s ease;

}

@media (max-width: 480px) {



}